<div>
  <%= form.text_field :title, placeholder: 'Raincheck for?' %>
</div>

<div>
  <%= form.text_area :description, rows: 2, placeholder: 'Description of your raincheck.' %>
</div>
<p> Maximum 140 characters </p>

