

<div>
  <%= form.text_field :title, placeholder: 'Raincheck for?' %>
</div>

<div>
  <%= form.text_area :description, rows: 2, placeholder: 'Description' %>
</div>
<p>
	<small><em>Maximum 140 characters</em></small>
</p>
<div>
	<%= form.text_field :takers_emails, placeholder: 'Add taker email' %>
</div>

<small><em>To add multiple emails seperate them with a comma.</em></small>