<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Raincheck</h3>
  </div>
	  <div class="modal-body">
	    <hr/>

			<%= form_for [@raincheck] do |f| %>

		  <%= render 'shared/form_errors', :f => f %>

		  <%= render f %>

	  </div>
	  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <div class="form-actions">
		    <%= f.submit 'Create Raincheck', class: 'btn btn-primary' %>
		  </div>
			<% end %>
  </div>
</div>




