<h1>New Raincheck</h1>

<p class="lead">Please update your profile to add your name to your new raincheck.</p>

<hr/>


<%= form_for [@raincheck] do |f| %>

  <%= render 'shared/form_errors', :f => f %>

 
  <%= render f %>

  <div class="form-actions">
    <%= f.submit 'Create Raincheck', class: 'btn' %>
  </div>

  
<% end %>

