// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image {
     float: none;
     margin-left: 45%;
     margin-right: 50%;
     margin-top: 30%;
}

html { 
  background: url('/assets/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background: transparent;
}

h1 {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin-right: 60%;
}
