<div id="#myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Raincheck</h3>
  </div>
  	<%= form_for @new_raincheck do |f| %>
		  <div class="modal-body">
		    <hr/>
			  <%= render 'shared/form_errors', :f => f %>
			  <%= render '/rainchecks/form', :form => f %>
			  

		  </div>
		  <div class="modal-footer">
		  	
			    <%= f.submit 'Create Raincheck', class: 'btn btn-primary' %>
			 
	    		
      </div>
    <% end %>
</div>